* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

#gallery {
    width: 1200px;
    margin: 20px auto;
    /*ortala*/
}

.gallery-item {

    border: 1px solid #cccccc;
    /*margin-right: 5px;*/

}

.item-container {
    width: 25%;
    float: left;
    padding: 10px;
}

.gallery-item:hover {
    border-color: #777;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 250px;/*burada resmin görütnsüünü bozup düzeltmeyi öğreniyoruz*/
    /*iteme sığdır*/
    object-fit: cover;/*şığmayan kısmı kesiyor*/
    /*contain ise container içine sığdırıyor ama etrafı boş kalabiliyor*/
    /*dafult'u fill'dir*/
    /*object-position: 100% 100%;*/
    /*object-position: 50% 50%;*/
    object-position: top;

}

.description {
    text-align: center;
    padding: 15px;
}