#container{
    width: 1140px;/*sabit bir genişlique*/
    background-color: rgb(240, 234, 234);
}

#blog-post-container{
    width: 75%;
    background-color: aquamarine;
    float: left;
}
#other-posts{
    width: 25%;
    background-color: bisque;
    float: left;
    text-align: center;
}

#author-box{
    border: 1px solid red;    
    
}