/* Group Selectors
1. (*)       >> tüm etiketler
2. (p)       >> tüm p etiketleri
3. (div p )  >> div içindeki tüm p etiketleri
4. (div,p)   >> tüm div ve tüm p etiketleri
5. (div>p)   >> üst etiketi div olan tüm p etiketleri
6. (p~div)   >> p ile aynı seviyede tüm div etiketleri
7. (p + div) >> p etiketinden sorna gelen tüm div etiketleri 
8. (div.box) >> sadece class'ı box olan div etiketleri.
*/

* {
    border: 1px solid blue;
}

p {
    border: 1.5px solid red;
}

div p {
    border: 2px solid green;
}

.container div {
    background-color: rgb(180, 158, 87);
}

/*aşağıdaki kullanımda bitişik yazarsak .container altındaki divlerden sadece box olanları seçmiş oluruz.*/
.container div.box {
    background-color: rgb(194, 190, 190);
}

div>p {
    border: 3px solid rgb(205, 50, 58);
}

p~div {
    /*p den sonra gelen ve aynı seviye olan tüm div etiketleri*/
    background-color: violet;
}

p+div {
    /*p etiketinden sorna gelen sadece ilk div etiketleri.*/
    border: 4px solid turquoise;
}