* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 135%;

}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 550;
}


#container {
    width: 1000px;
    margin: 20px auto;
}

#blog-post-container {
    width: 75%;
    float: left;

}

#other-posts {
    width: 25%;
    float: left;
    padding-left: 20px;
}



.box {
    background: white;
    margin-bottom: 25px;
    /*padding: 20px;*/
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(10,23,28,.15);
}

.blog-post {
    position: relative;
    /*border-radius: 5px;*/

}

.blog-post img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity 0.2s linear;
}

.blog-post img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.date {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #aaaaaa;
    font-size: 13px;
}

.blog-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #555555;
    line-height: 22px;
    text-align: justify;
}

.tags li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.tags li a {
    text-decoration: none;
}

#author-box {
    border-top: 1px solid RGB(0, 0, 0, .125);
    padding-top: 10px;
    position: relative;
    margin-right: 250px ;
}


#author-box img {
    border-radius: 50%;
    display: inline;
    /*float: left;*/
}

.author-text {
    display: inline;
   /* float: left;*/
   /* margin-top: 23px;*/
    margin-left: 20px;
    margin-top: 42px;
    position: absolute;
    font-weight: 400;
    font-size: larger;
    
}

#share a {
    color: gray;
    text-decoration: none;
    margin-right: 15px;
    opacity: 0.6;
}

#share a:hover {
    opacity: 1;
    color: tomato;
}

#other-posts ul {
    list-style-type: none;
    /*padding: 10px;*/
}

#other-posts ul li {
    /*padding: 10px 0;*/
    margin-bottom: 10px;
}

.header {
    margin-bottom: 15px;
    border-bottom: 1px solid RGB(0, 0, 0, .2);
    padding-bottom: 3px;

}

.tag {
    /*background-color: #000000;
    color: white;*/
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 5px;

}

.btn{
    font-size: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    background-color: #da453d;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 300ms linear;

}

.btn:hover{
    border-color:#363636;
    background-color: #363636;
    opacity: 0.9;

}

.p-20{
    padding: 20px;
}

.blog-title{
    font-weight: 700;    
}

.blog-title a{
    color: #444444;
    text-decoration: none;
    transition: all 0.2s;
}

.blog-title a:hover{
    color: #da453d;
}
