/* Psedue Elements*/
/*Sayfa içerisinde herhangi bir paragrafın(elemanın) ilk harfini veya ilk satırını    */



/*------------*/
/*Psedue Class*/
/* Sayfa içerisindeki herhangi bir kapsam içerisindeki elemanları seçerken kullanılır örneğin ul altındaki li'leri seçerken*/
/*---------------*/

/*P.E (::) */
p::first-line {
    /*tüm p atiketlerinin ilk satırları*/
    color: brown;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: bold;
}

p.about::first-line {
    color: green;
}

p::first-letter {
    font-size: 48px;
}

p::after {
    content: "-kaptan";
    display: block;
    background-color: rgb(226, 208, 158);
    padding: 10px;
}

/*P.C (:) */
ul li:first-child {
    background-color: red;
}

ul li {
    padding: 10 px;
    margin-bottom: 10px;
    list-style: none;
}

ul li:last-child {
    background-color: rgb(80, 189, 107);
}

ul li:nth-of-type(even) {
    font-weight: bold;
}

ul li:nth-of-type(odd) {
    letter-spacing: 3px;
}

a {
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    border: 1px solid rgb(194, 82, 17);
    margin-bottom: 10px;
}

a:link {
    color: red;
}

a:visited {
    /*daha önce tıklanmışsa efekt*/
    color: gray;
}

a:hover {
    /*üstüne geldiğindeki animasyon*/
    color: white;
    background-color: green;
}

a:active {
    /*üstüne tıklayıp bırakmadığımdaki efekt*/
    color: green;
    background-color: gold;

}

span{
    display: none;
    background-color: goldenrod;
    padding: 20px;
}

div:hover span{ /*üstüne geldiğinde spanı tetikle*/
    display: block;
}