p[title] {
    /*title attrubite'ü olan her p etiketi*/
    border: 1px solid red;
    padding: 5px;
}

p[title="third paragraph"] {
    /*spesifik title'ı belirtilen p etiketi*/
    background-color: violet;
}

p[title~="paragraph"] {
    /* içinde "paragraph" geçen title bulunan tim p etiketleri (tilde işareti)*/
    border: 3px solid blue;
}

a[href^=https]{ /*sadece linkinin  başlagıç'ı "https" olan a etiketini.*/
    color: red;
}

a[href$=".com"]{ /*sadece linkinin  sonu ".com" olan a etiketini.*/
    color: rgb(128, 176, 231);
}

a[href="https://example.net"][target="_blank"]{/*çoklu seçim*/
    background-color: rgb(241, 241, 201);
}

input[type="text"]{
    background-color: tomato;
}
input[type="button"]{
    background: wheat;
    color: rgb(189, 6, 6);
    padding: 8px 16px;
}