#container {
    width: 1140px;
    /*sabit bir genişlique*/
    background-color: rgb(240, 234, 234);
}

#blog-post-container {
    width: 75%;
    background-color: aquamarine;
    float: left;
}

#other-posts {
    width: 25%;
    background-color: bisque;
    float: left;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
}

#author-box {
    border: 1px solid red;

}

.tags li {
    /*float: left;*/
    list-style: none;
    display: inline-block;
}

.tags ul{
    margin: 0;
    padding: 0;
}
.date{
    /*position: relative;
    right: 5px;*/
    /*yukarıdakiler olmadı üst sınıfı blog-post'u relative yapıyoruz vv*/
}

.blog-post{
    position: relative;
}

.date{
    position: absolute;
    right: 5px;
    top: 5px;
    /*böylece blog-post div'i içinde absolute'la içinde sınırsızca dolaştı..*/
}