* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* böyle dediğimiz taktirde padding ve border değerleri dahil edilir.*/
}

body {
    background-color: #f1f1f1;

}

#container {
    width: 1140px;
    /*sabit bir genişlique*/
    background-color: rgb(240, 234, 234);
    margin: 20px auto;
    /*alttan üstten 20px, sağ sol ortak olarak dağıt*/
}

#blog-post-container {
    width: 75%;
    /*background-color: aquamarine;*/
    float: left;
}

#other-posts {
    width: 25%;
    /*background-color: bisque;*/
    float: left;
    text-align: center;
    /*position: fixed;
    right: 0;
    top: 0;*/
    /*margin-left: 5px; /*yine aşacaktr margini kapsamaz border-sizing*/
    padding-left: 10px;
    /*inner-post açtık oraya bak*/
}



.tags li {
    /*float: left;*/
    list-style: none;
    display: inline-block;
}


.date {
    /*position: relative;
    right: 5px;*/
    /*yukarıdakiler olmadı üst sınıfı blog-post'u relative yapıyoruz vv*/
}

.box {
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
}

.blog-post {
    position: relative;

}

.date {
    position: absolute;
    right: 50px;
    top: 15px;
    /*böylece blog-post div'i içinde absolute'la içinde sınırsızca dolaştı..*/
}

a {
    text-decoration: none;
}

.blog-post img {
    width: 100%;
    /*sığdır*/
}

body h2 {
    margin-bottom: 10px;
}

.blog-text {
    margin-top: 15px;
}

#author-box{
    border-top: 1px solid RGB(0,0,0,.125);
    padding-top: 10px;
}
#author-box img{
    border-radius: 50%;
    margin: 10px;
    float: left;
}
.author-text{
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

#inner-other-post{
     /*position: fixed;    
    top: 0;*/
}